<!-- Referee -->
<div class="container" ng-if="account.type==0">
    <!-- Account Nav -->
    <myacc-navbar></myacc-navbar>
    <!-- Main Menu -->
    <ul class="nav nav-tabs nav-justified bar">
        <li role="presentation" ng-class="{active: contCtrl.viewValue === 'manager'}">
            <a href="/#!/manager" ng-click="changeView('manager')">Manager</a>
        </li>
        <li role="presentation" ng-class="{active: contCtrl.viewValue === 'competitions'}">
            <a href="/#!/manager" ng-click="changeView('competitions')">Competitions</a>
        </li>
    </ul>
    <!-- end of <Main Menu> -->
    <!-- Sub Menu - Player/Competition -->
    <ol class="breadcrumb" ng-show="contCtrl.viewValue === 'manager'">
        <li>
            <md-button class="md-primary md-raised md-hue-1" ng-disabled="contCtrl.subViewValue === 'player'" ng-click="changeSubView('player')">Player</md-button>
        </li>
        <li>
            <md-button class="md-primary md-raised md-hue-1" ng-disabled="contCtrl.subViewValue === 'competition'" ng-click="changeSubView('competition')">Competition</md-button>
        </li>
    </ol>
    <!-- end of <Sub Menu> -->
    <!-- Add and List players -->
    <div class="row" ng-show="contCtrl.subViewValue === 'player' && contCtrl.viewValue === 'manager'">
        <div class="col-lg-12">
            <add-users></add-users>
        </div>
        <div class="col-lg-12">
            <table-component table-headers="contCtrl.userHeaders" table-keys="contCtrl.userKeys" table-body="contCtrl.players" table-title="Players"></table-component>
        </div>
    </div>
    <!-- Add and List competitions -->
    <div class="row" ng-show="contCtrl.subViewValue === 'competition' && contCtrl.viewValue === 'manager'">
        <div class="col-lg-12">
            <add-competition></add-competition>
        </div>
        <div class="col-lg-12">
            <table-component table-headers="contCtrl.competitionHeaders" table-keys="contCtrl.competitionKeys" table-body="contCtrl.competitions" table-title="Competitions"></table-component>
        </div>
    </div>
    <!-- Listing competitions -->
    <div class="row" ng-if="contCtrl.viewValue === 'competitions'">
        <div class="col-lg-12">
            <div ng-if="contCtrl.currentCompId">
                <competition-directive></competition-directive>
            </div>
            <md-content layout-padding>
                <md-grid-list md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
                    <md-grid-tile ng-click="selectComp(comp._id)" id="compTile" ng-repeat="comp in contCtrl.competitions| orderBy: '-date'" ng-style="{
                        'background': comp.color
                      }" md-colspan-gt-sm="{{comp.colspan}}" md-rowspan-gt-sm="{{comp.rowspan}}">
                        <h4 style="text-align: center">{{comp.name}}</h4>
                    </md-grid-tile>
                </md-grid-list>
            </md-content>
        </div>
    </div>
</div>
<!-- Gambler -->
<div class="container" ng-if="account.type==1" layout="column">
    <!-- Account Nav -->
    <myacc-navbar></myacc-navbar>
    <!-- Main Menu -->
    <ul class="nav nav-tabs nav-justified bar">
        <li role="presentation" ng-class="{active: contCtrl.viewValue === 'manager'}">
            <a href="/#!/manager" ng-click="changeView('manager')">Manage Account</a>
        </li>
        <li role="presentation" ng-class="{active: contCtrl.viewValue === 'competitions'}">
            <a href="/#!/manager" ng-click="changeView('competitions')">Competitions</a>
        </li>
    </ul>
    <!-- end of <Main Menu> -->
    <br>
    <div ng-show="contCtrl.viewValue === 'manager'">
        <!-- Sub Menu - Player/Competition -->
        <ol class="breadcrumb" ng-show="contCtrl.viewValue === 'manager'">
            <li>
                <md-button class="md-primary md-raised md-hue-1" ng-disabled="contCtrl.subViewValue === 'myacc'" ng-click="changeSubView('myacc')">My account</md-button>
            </li>
            <li>
                <md-button class="md-primary md-raised md-hue-1" ng-disabled="contCtrl.subViewValue === 'mybets'" ng-click="changeSubView('mybets')">Current Bets</md-button>
            </li>
        </ol>
        <!-- end of <Sub Menu> -->
        <!-- My account -->
        <md-content ng-if="contCtrl.subViewValue=='myacc'" class="md-whiteframe-15dp" style="padding: 2rem">
            <h3>My account data</h3>
            <hr>
            <h4>Add money to my account</h4>
            <hr>
            <chess-game></chess-game>
            <form name="addMoney" layout="row" layout-xs="column" ng-submit="updateMoney()">
                <md-input-container class="md-block" style="width: 15rem;">
                    <label>Money ammount</label>
                    <input required type="number" step="any" name="money" ng-model="userMoney.ammount" min="1" max="500" />
                    <div ng-messages="addMoney.money.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            You need to enter a value.
                        </div>
                        <div ng-message="min">
                            You can't add $0, it's hilarious!
                        </div>
                        <div ng-message="max">
                            {{addMoney.money.$viewValue | currency:"$":0}} ? You can only add a maximum of $500 at once.
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-primary md-raised" type="submit">Add money</md-button>
            </form>
        </md-content>
        <!-- Current Bids -->
        <md-content ng-if="contCtrl.subViewValue=='mybets'" class="md-whiteframe-15dp" style="padding: 2rem;">
            <h3>My bids</h3>
            <hr>
            <h4>Finished</h4>
            <hr>
            <div ng-repeat="bet in myBets" layout="row" layout-align="left center" ng-if="bet.result!=0">
                <div class="alert alert-success" ng-if="bet.result==bet.option">
                    <p ng-if="bet.option==1">WON! | Player 1 will win ! | +${{bet.money}}</p>
                    <p ng-if="bet.option==2">WON! | There will be a draw ! | +${{bet.money}}</p>
                    <p ng-if="bet.option==3">WON! | Player 2 will win ! | +${{bet.money}}</p>
                </div>
                <div class="alert alert-danger" ng-if="bet.result!=bet.option">
                    <p ng-if="bet.option==1">LOST! | Player 1 will win ! | -${{bet.money}}</p>
                    <p ng-if="bet.option==2">LOST! | There will be a draw ! | -${{bet.money}}</p>
                    <p ng-if="bet.option==3">LOST! | Player 2 will win ! | -${{bet.money}}</p>
                </div>
                <div style="padding-left: 2rem">
                    <p>Game ID: {{bet.gameId}}</p>
                </div>
            </div>
            <h4>Active</h4>
            <hr>
            <div ng-repeat="bet in myBets" layout="row" layout-align="left center" ng-if="bet.result==0">
                <div class="alert alert-info">
                    <p ng-if="bet.option==1">PENDING..| Player 1 will win ! | ${{bet.money}}</p>
                    <p ng-if="bet.option==2">PENDING..| There will be a draw ! | ${{bet.money}}</p>
                    <p ng-if="bet.option==3">PENDING..| Player 2 will win ! | ${{bet.money}}</p>
                </div>
                <div style="padding-left: 2rem">
                    <p>Game ID: {{bet.gameId}}</p>
                </div>
            </div>
        </md-content>
    </div>
    <!-- Listing competitions -->
    <div class="row" ng-if="contCtrl.viewValue === 'competitions'">
        <div class="col-lg-12">
            <div ng-if="contCtrl.currentCompId">
                <competition-directive></competition-directive>
            </div>
            <md-content layout-padding>
                <md-grid-list md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
                    <md-grid-tile ng-click="selectComp(comp._id)" id="compTile" ng-repeat="comp in contCtrl.competitions| orderBy: '-date'" ng-style="{
                            'background': comp.color
                          }" md-colspan-gt-sm="{{comp.colspan}}" md-rowspan-gt-sm="{{comp.rowspan}}">
                        <h4 style="text-align: center">{{comp.name}}</h4>
                    </md-grid-tile>
                </md-grid-list>
            </md-content>
        </div>
    </div>
</div>
<!-- Player -->
<div class="container" ng-if="account.type==2" layout="column">
    <!-- Account Nav -->
    <myacc-navbar></myacc-navbar>
    <!-- Main Menu -->
    <ul class="nav nav-tabs nav-justified bar">
        <li role="presentation" ng-hide="contCtrl.ingame" ng-class="{active: contCtrl.viewValue === 'manager'}">
            <a href="/#!/manager" ng-click="changeView('manager')">Manage Account</a>
        </li>
        <li role="presentation" ng-hide="contCtrl.ingame" ng-class="{active: contCtrl.viewValue === 'players'}">
            <a href="" ng-click="changeView('players')">Players</a>
        </li>
        <li role="presentation" ng-class="{active: contCtrl.viewValue === 'currGame'}" ng-if="contCtrl.ingame">
            <a href="" ng-click="changeView('game')">Game</a>
        </li>
    </ul>
    <!-- end of <Main Menu> -->
    <br>
    <div ng-show="contCtrl.viewValue === 'manager'">
        <!-- Sub Menu - Player/Competition -->
        <ol class="breadcrumb" ng-show="contCtrl.viewValue === 'manager'">
            <li>
                <md-button class="md-primary md-raised" ng-disabled="contCtrl.subViewValue === 'myacc'" ng-click="changeSubView('myacc')">My account</md-button>
            </li>
            <li>
                <md-button class="md-primary md-raised" ng-disabled="contCtrl.subViewValue === 'mygames'" ng-click="changeSubView('mygames')">My Games</md-button>
            </li>
        </ol>
        <!-- end of <Sub Menu> -->
        <!-- My account -->
        <md-content ng-if="contCtrl.subViewValue=='myacc'" class="md-whiteframe-15dp" style="padding: 2rem">
            <h3>Statistics</h3>
        </md-content>
        <!-- Current Bids -->
        <md-content ng-if="contCtrl.subViewValue=='mygames'" class="md-whiteframe-15dp" style="padding: 2rem;">
            <h3>My Games</h3>
            <hr>
            <h4>Finished</h4>
            <hr>
            <h4>Active</h4>
            <hr>
        </md-content>
    </div>
    <div ng-show="contCtrl.viewValue === 'players'">
        <md-content class="md-whiteframe-15dp" style="padding: 2rem">
            <community-directive></community-directive>
        </md-content>
    </div>
    <!-- This will show when we click on a competition -->
    <div class="row" ng-if="contCtrl.viewValue === 'game'">
        <div class="col-lg-12">
            <game-platform></game-platform>
        </div>
    </div>
</div>