<div>
	<md-progress-circular md-mode="indeterminate" ng-if="playerLoading" style="display: block;margin: auto"></md-progress-circular>
    <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>Name</th>  
                        <th>Status</th>
                        <th></th> 
                        <th>Wins</th>
                        <th>Loses</th>  
                    </tr> 
                </thead> 
                <tbody> 
                    <tr ng-repeat="player in players"> 
                        <td>
                            <p ng-if="$index+1==1" style="color:gold;font-weight: bolder">{{player.username}}</p>
                            <p ng-if="$index+1==2" style="color:orange;font-weight: bolder">{{player.username}}</p>
                            <p ng-if="$index+1==3" style="color:darkgrey;font-weight: bolder">{{player.username}}</p>
                            <p ng-if="$index+1>3">{{player.username}}</p>
                        </td>
                        <td>
                        	<p ng-if="player.status==0">
                        		Offline
                        	</p>
                            <p ng-if="player.status==1">Available</p>
                            <p ng-if="player.status==2">Ingame</p>
                        </td>
                        <td>
                            <md-button class="md-warn md-raised" ng-if="player.username!=account.username" ng-disabled="player.status==0|| player.status==2 || challenged" ng-click="challengePlayer(player.sockId)">Challenge</md-button>
                            <p ng-if="player.username==account.username && $index+1>3">Here I am</p>
                            <p ng-if="player.username==account.username && $index+1==3">I can do better</p>
                            <p ng-if="player.username==account.username && $index+1==2">I should be there &#9757</p>
                            <p ng-if="player.username==account.username && $index+1==1"> me tha best</p>
                        </td>
                        <td>
                            <p>{{player.wins}}</p>
                        </td>
                        <td>
                            <p>{{player.loses}}</p>
                        </td>
                    </tr> 
                </tbody> 
            </table>
</div>